import(utils)

S3method(plot, PK)
S3method(plot, halflife) 
S3method(print, PK)
S3method(print, PKtest)
S3method(summary, PK) 
S3method(summary, PKtest)

importFrom("grDevices", "palette")
importFrom("graphics", "curve", "legend", "plot", "points")
importFrom("stats", "cov", "lm", "median", "na.omit", "optim", "pnorm",
           "pt", "qnorm", "qt", "quantile", "runif", "sd", "var")

export(
       auc,
       auc.batch,
       auc.complete,
       auc.ssd,
       biexp,
       ci,
       estimator,
       eqv,
       eqv.batch,
       eqv.complete,
       eqv.ssd,
       lee,
       nca,
       nca.batch,
       nca.complete,
       nca.ssd,
       PKNews,
       plot.halflife,
       plot.PK,
       print.PK,
       print.PKtest,
       summary.PK,
       summary.PKtest,
       test
      )
